@page "/games/create"
@inject Lab4_2.Data.ApplicationDbContext DB
@using Lab4_2.Components.Model
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Game.Title" class="form-control" /> 
                <ValidationMessage For="() => Game.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label> 
                <InputText id="genre" @bind-Value="Game.Genre" class="form-control" /> 
                <ValidationMessage For="() => Game.Genre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="platform" class="form-label">Platform:</label> 
                <InputText id="platform" @bind-Value="Game.Platform" class="form-control" /> 
                <ValidationMessage For="() => Game.Platform" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Game.Price" class="form-control" /> 
                <ValidationMessage For="() => Game.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="releasedate" class="form-label">ReleaseDate:</label> 
                <InputDate id="releasedate" @bind-Value="Game.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => Game.ReleaseDate" class="text-danger" /> 
            </div>                   
            <div class="mb-3">
                <label for="imgurl" class="form-label">ImgUrl:</label> 
                <InputText id="imgurl" @bind-Value="Game.ImgUrl" class="form-control" /> 
                <ValidationMessage For="() => Game.ImgUrl" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Game Game { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddGame()
    {
        DB.Games.Add(Game);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
